#header {
  color: red;
  text-align: center;
  height: 2em;
  vertical-align: middle;
  font-size: large;
}

#welcome {
  margin-right: 10in;
  color: black;
}

#mydiv {
  margin-left: 2in;
  border: black;
  margin-top: 0.3in;
}

#list-item {
  font-size: larger;
  color: brown;
  margin: 0.2in;
  padding: 0.1in;
}

#list-item2 {
  color: brown;
}

.profile {
  width: 80%;
  margin-left: 10%;
}

#followers {
  text-align: center;
  font-size: x-large;
  color: rgb(219, 9, 184);
  margin-bottom: 0.3in;
}